@model IEnumerable<WebApplication1.Models.tb_paciente>

@{
    ViewBag.Title = "Pacientes";
}

<h2>Pacientes</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Lista de Pacientes
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Data de Nascimento
                        </th>
                        <th>
                            Sexo
                        </th>
                        <th>
                            CPF
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataNasc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sexo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPF)
                            </td>
                            <td>
                                @Html.ActionLink("Vacinas Não Tomadas", "Index", "Vacina", new { id = item.Id}, new { @class = "btn btn-primary" }) 
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) 
                                @Html.ActionLink("Remover", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
